<h1>Tout savoir sur ton auteur préféré : <%= @user.first_name%>  <%= @user.last_name%></h1>
<p>
  Âge : <%=@user.age%><br>
  Description : <%=@user.description%><br>
  Lieu de résidence : <%=@city%> <br>
</p>