<div class="container">
  <div class="row">
    <div class="col-10">
    <h2>Modifie ton dernier potin</h2>

    <%= form_for @gossip do |f| %>
      <%= f.label 'Le Titre' %><br>
      <%= f.text_field :title %><br>
    
      <%= f.label 'Le Contenu' %><br>
      <%= f.text_area :content %><br>
    
      <%= f.submit "Submit Article" %>
    <% end %>

<!--
      <%= form_tag url_for(action: 'update'), method: :put do %>

        <label for="title"> Title</label>
        <input id="title" name="title" type="text"/>
        <br /> <br />
  
        <label for="content"> Content</label>
        <textarea id="content" name="content"></textarea>
        <br /> <br />
  
        <input type="submit" value="Update gossip" />
        <br />
        <a href="#">Back to Posts</a>
  
      <%end%>

-->
    </div>
  </div>
</div>