<div class="container">
  <div class="row">
    <div class="col-10">
    <h2>Modifie ton dernier potin</h2>
      <%= form_tag url_for(action: 'update'), method: "post" do %>
        <form method="post" action="/update_gossip/<%= gossip['id'] %>">

        <label for="title"> Title</label>
        <input id="title" name="title" type="text" value="<%= post['title'] %>"/>
        <br /> <br />
  
        <label for="content"> Content</label>
        <textarea id="content" name="content"><%= post['content'] %></textarea>
        <br /> <br />
  
        <label for="fisrt_name"> First Name</label>
        <input id="first_name" name="first_name" type="text" value="<%= post['first_name'] %>"/>
        <br /> <br />
  
        <input type="submit" value="Update Post" />
  
      </form>
  
      <br />
      <a href="/list_posts">Back to Posts</a>
    </div>
  </div>
</div>