<div class="container">
  <div class="row">
    <div class="col-10">
      <%= form_tag url_for(action: 'create'), method: "POST" do %>
        <%= label_tag 'Title' %>
        <%= text_field_tag 'gossip[title]', @gossip.title %>

        <br /> <br />
        
        <%= label_tag 'Body' %>
        <%= text_area_tag 'gossip[body]', @gossip.content %>

        <br /> <br />

        <%= submit_tag "Create Gossip" %>
      <% end %>
    </div>
  </div>
</div>