<div class="col text-center">
  <h2>Voici le gossip n°<%=@gossip.id%></h2><br>
</div>

<div class="card mx-3">
  <div class="card-header">
  <strong><%= @gossip.title %></strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <em>"<%= @gossip.content %></em><p></p>
      <footer class="blockquote-footer">rédigé le <%= @gossip.created_at %>
        <p></p>
        <p>Par : <%= User.find(@gossip.user_id).first_name%> <%= User.find(@gossip.user_id).last_name   %> </p>
        <p>clique <a href="<%=user_path(@gossip.user_id)%>" class="card-link">ici</a> pour en découvrir plus sur <strong><%= User.find(@gossip.user_id).first_name %></strong></p>
        <p>Et clique <a href="<%=city_path(@gossip.city_id)%>" class="card-link">la</a> pour voir tout les gossips de <%City.find(@gossip.city_id)%> </p>
      </footer>
    </blockquote>
  </div>
</div>
